{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "PlatformPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Liste des annonces</h2>

  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('platform_annonce', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}

    <ul class="pagination">
    {% for tPage in 1..total_page %}
      <li><a href="{{ path('platform_platform_homepage', {'page': tPage}) }}" {% if tPage == page %}class="active"{% endif %}>{{tPage}}</a></li>
    {% endfor %}
    </ul>

  </ul>

{% endblock %}